body {
	
}

.jumbotron {
	background-color: #6BE895;
	font-family: 'Roboto Slab', serif;
	color: black;
	border-bottom: solid 5px black;
}


#psychicBox{
	text-align: center;
	border: solid 5px black;
	padding: 1px;
	font-family: 'Roboto Slab', serif;
	font-size: 30px;
}

#footer {
	background-color: #6BE895;
	border-top: solid 5px black;
	text-align: center;
	font-family: 'Roboto Slab', serif;
}
